<div class="auth-main">
    <div class="auth-wrapper v3">
      <div class="auth-form">
        <div class="auth-header">
          <a href="javascript:"><img src="assets/images/logo-dark.svg" alt="logo" /></a>
        </div>
        <div class="card my-5">
          <div class="card-body">
            
            <div class="form-group mb-3">
              <label class="form-label" for="Titulo">Titulo</label>
              <input type="text" class="form-control" id="Titulo" placeholder="Titulo" value="Titulo Pelicula" />
            </div>
            <div class="form-group mb-3">
                <label class="form-label" for="Genero">Genero</label>
                <input type="text" class="form-control" id="Genero" placeholder="Genero" value="Genero Pelicula" />
              </div>
              <div class="form-group mb-3">
                <label class="form-label" for="anio">Año Estreno</label>
                <input type="date" class="form-control" id="anio" placeholder="anio" value="Año de Estreno" />
              </div>
            <div class="form-group mb-3">
              <label class="form-label" for="Director">Director</label>
              <input type="text" class="form-control" id="Director" placeholder="Director" value="Director " />
            </div>
            
          
            <div class="d-grid mt-4">
              <button type="button" class="btn btn-primary">Agregar Nueva Pelicula </button>
            </div>
           
            
          </div>
        </div>
       
      </div>
    </div>
  </div>
