<!-- <div class="row"></div>
    <div class="col-sm-12">
      <app-card cardTitle="Lista Proveedores" blockClass="pc-component">
        <div class="col-md-12 col-xl-8">
            <h5 class="mb-3">
                <a href ="nuevoactor" class="btn btn-outline-dark">Nuevo Actor</a>
            </h5>
            <div class="card tbl-card">
              <div class="table-responsive">
                <table class="table table-hover mb-0">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Nombre</th>
                      <th>Apellido</th>
                      <th>Fecha Nacimiento</th>
                      <th class="text-end">Nacionalidad</th>
                     </tr>
                  </thead>
                  <tbody>
                    @for (actor of listaactores; track $index) {
                      <tr>
                        <td>{{ $index + 1 }}</td>
                        <td>{{ actor.nombre }}</td>
                        <td>{{ actor.apellido }}</td>
                        <td>{{ actor.fecha_nacimiento}}</td>
                        <td>{{ actor.nacionalidad}}</td>
                        <td>
                          <button type="button" class="btn btn-outline-success" [routerLink]="['/editaractor/', actor.actor_id]">
                           Editar
                          </button>
                          <button (click)="eliminar(actor.actor_id)"type="button"class="btn btn-outline-danger">Eliminar
                          </button>
                        </td>
                      </tr>
                      }
                  </tbody>
                </table>
              </div>
            </div>
          </div>
      </app-card>
    </div>
  -->
  <div class="row">
    <div class="col-sm-12">
      <app-card cardTitle="Lista Actores" blockClass="pc-component">
        <div class="col-md-12 col-xl-8">
          <h5 class="mb-3">
            <a href="nuevoactor" class="btn btn-outline-dark">Nuevo Actor</a>
          </h5>
          <div class="card tbl-card">
            <div class="table-responsive">
              <table class="table table-hover mb-0">
                <thead>
                  <tr>
                    <th>#</th>
                    <th>Nombre</th>
                    <th>Apellido</th>
                    <th>Fecha Nacimiento</th>
                    <th class="text-end">Nacionalidad</th>
                    <th>Acciones</th>
                  </tr>
                </thead>
                <tbody>
                  @for (actor of listaactores; track $index) {
                  <tr>
                    <td>{{ $index + 1 }}</td>
                    <td>{{ actor.nombre }}</td>
                    <td>{{ actor.apellido }}</td>
                    <td>{{ actor.fecha_nacimiento}}</td>
                    <td>{{ actor.nacionalidad}}</td>
                    <td>
                      <button type="button" class="btn btn-outline-success" [routerLink]="['/editaractor/', actor.actor_id]">
                        Editar
                      </button>
                      <button (click)="eliminar(actor.actor_id)" type="button" class="btn btn-outline-danger">
                        Eliminar
                      </button>
                      <button (click)="imprimir(actor.actor_id)" type="button" class="btn btn-outline-primary">
                        Imprimir
                      </button>
                    </td>
                  </tr>
                  }
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </app-card>
    </div>
  </div>
  